<footer class="footer">
    <div class="container has-text-centered">
        <p>{{ .Site.Copyright | safeHTML }}</p>
    </div>
</footer>

<div class="box backtotop hide is-hidden-mobile is-hidden-tablet-only">
    返回顶部
</div>

<script src="{{ $.Site.Params.resources.cdn }}/highlight.js/9.10.0/highlight.min.js"></script>
{{ range .Site.Params.highlight.languages }}
<script src="{{ $.Site.Params.resources.cdn }}/highlight.js/9.10.0/languages/{{ . }}.min.js"></script>
{{ end }}
<script>hljs.initHighlightingOnLoad();</script>
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}

<script>
    $(function () {
        var backtotop = $('.backtotop');
        $(window).scroll(function () {
            var scrollY = $(document).scrollTop();

            if (scrollY > 550) {
                backtotop.removeClass('hide');
            }

            if (scrollY < 50) {
                backtotop.addClass('hide');
            }

        });

        $('.backtotop').click(function () {
            $('html, body').animate({scrollTop: 0}, 'fast');
        });
    });


</script>

<!--百度流量统计-->
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?21f14fd91444893b4243d3a6525902eb";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

