<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<meta charset="UTF-8">
<meta name="baidu-site-verification" content="1aycDzfbvq" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="{{ with .Keywords }}{{ delimit . ", " }}{{ else }}{{ delimit .Site.Params.meta.keywords ", " }}{{ end }}">
<meta content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}" property="og:title">
<title>{{ .Title }}{{ if eq .IsHome false }} | {{ .Site.Title }}{{ end }}</title>
<link rel="shortcut icon" href="{{ .Site.BaseURL }}images/favicon.ico">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
<link href="{{ $.Site.Params.resources.cdn }}/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{{ with .Site.Params.highlight.style }}
<link href="{{ $.Site.Params.resources.cdn }}/highlight.js/9.10.0/styles/{{ . }}.min.css" rel="stylesheet">
{{ else }}
<link href="{{ $.Site.Params.resources.cdn }}/highlight.js/9.10.0/styles/default.min.css" rel="stylesheet">
{{ end }}
<script src="{{ $.Site.Params.resources.cdn }}/jquery/3.2.1/jquery.min.js"></script>
<script src="{{ .Site.BaseURL }}js/lunr.min.js"></script>