<nav class="pagination level is-mobile">
    <div class="level-left">
        <div class="level-item">
            {{ if .Paginator.HasPrev }}
            <a class="pagination-previous button is-primary" href="{{ .Paginator.Prev.URL }}">
                <i class="fa fa-angle-double-left"></i>&nbsp;上一页
            </a>
            {{ else }}
            <button class="pagination-previous button is-disabled" disabled>
                <i class="fa fa-angle-double-left"></i>&nbsp;上一页
            </button>
            {{ end }}
        </div>
    </div>
    <div class="level-right is-marginless">
        <div class="level-item">
            {{ if .Paginator.HasNext }}
            <a class="pagination-previous button is-primary" href="{{ .Paginator.Next.URL }}">
                下一页&nbsp;<i class="fa fa-angle-double-right"></i>
            </a>
            {{ else }}
            <button class="pagination-previous button is-disabled" disabled>
                下一页&nbsp;<i class="fa fa-angle-double-right"></i>
            </button>
            {{ end }}
        </div>
    </div>
</nav>
